
.dt-paging {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.dt-paging .page-item {
  margin: 0 5px;
}

.dt-paging .page-link {
  background-color: #53c3ad;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.dt-paging .page-link:hover {
  background-color: #127c67;
  color: #fff;
}

.dt-paging .page-item.active .page-link {
  background-color: #0da487;

  font-weight: bold;
}

.dt-paging .page-item.disabled .page-link {
  background-color: #e0e0e0;
  color: #999;
  cursor: not-allowed;
}

.dt-paging .page-item {
  font-size: 18px;
}